:root {
  --accent-color: #2196f3;
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-dark: rgba(255, 255, 255, 0.6);
  --primary-text-color-theme-light: #212121;
  --secondary-text-color-theme-light: #757575;
  --primary-font-weight: 500;
  --secondary-font-weight: 700;
  --primary-line-height: 1.14;
  --secondary-line-height: 1.71;
}
body {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: var(--primary-line-height);
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* ====== start components ====== */
.logo {
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-weight);
  font-size: 26px;
  line-height: 1.19;

  color: #2196f3;
}
.titel-cat {
  font-weight: var(--secondary-font-weight);
  font-size: 36px;
  line-height: var(--secondary-line-height);

  color: var(--primary-text-color-theme-light);
}
/* ====== end components ====== */
/* ====== start header ======= */
/* ====== start novigation ====== */
.logo-second-harf-heard {
  color: var(--primary-text-color-theme-light);
}
.menu-nav-link {
  font-weight: var(--primary-font-weight);

  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
}
.menu-nav-link:hover,
.menu-nav-link:focus {
  color: var(--accent-color);
}
/* ====== end novigation ====== */
/* ====== start contacts header ====== */
.mail-header {
  font-weight: var(--primary-font-weight);

  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
}
.mail-header:hover,
.mail-header:focus {
  color: var(--accent-color);
}
.phone-namber-header {
  font-weight: var(--primary-font-weight);

  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-light);
}
.phone-namber-header:hover,
.phone-namber-header:focus {
  color: var(--accent-color);
}
/* ====== end contacts header ====== */
/* ====== end header ====== */
/* ====== start hero ====== */
.hero {
  background-color: #2f303a;
}
.mein-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
}
.modal-btn {
  font-weight: var(--secondary-font-weight);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-text-color-theme-dark);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* ====== end hero ====== */
/* ====== start features ====== */
.features-title {
  font-weight: var(--secondary-font-weight);
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
}
.descr-features {
  line-height: var(--secondary-line-height);
  color: var(--secondary-text-color-theme-light);
}
/* ====== end features ====== */
/* ====== start work ====== */

/* ====== end work ====== */
/* ====== start team ====== */
.team {
  font-weight: var(--primary-font-weight);
  font-size: 16px;
  line-height: 1.19;
  background-color: #f5f4fa;
}
.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.name {
  color: var(--primary-text-color-theme-light);
}
.position {
  color: var(--secondary-text-color-theme-light);
}
/* ====== end team ====== */
/* ====== start footer ====== */
.footer {
  background: #2f303a;
}
.addres {
  font-style: normal;
}

.logo-second-harf-footer {
  color: var(--primary-text-color-theme-dark);
}
.powst-address {
  line-height: var(--secondary-line-height);

  color: var(--primary-text-color-theme-dark);
}
.mail-address {
  line-height: var(--secondary-line-height);

  color: var(--secondary-text-color-theme-dark);
}
.phone-namber-address {
  line-height: var(--secondary-line-height);

  color: var(--secondary-text-color-theme-dark);
}
/* ====== end footer ====== */
